/* Variables */
/* Global */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 25px;
  line-height: 1.7;
  text-align: center;
  color: #3d3d3d;
  font-family: "Kalam", cursive;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 10px 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
