/* Variables */
/* Global */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 25px;
  line-height: 1.7;
  text-align: center;
  color: #3d3d3d;
  font-family: "Kalam", cursive;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 10px 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Splash */
.splash {
  background-image: url("/learning-git/img/diego-cieza-tenishius-d.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.splash h1 {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(#ff0000), to(#000));
  background: linear-gradient(to right, #000, #ff0000, #000);
  background-size: 200% 200%;
  -webkit-animation: rainbow 2s ease-in-out infinite;
          animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
}

.splash h1:hover {
  color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* Band */
.band {
  padding: 0;
  background-image: url("/learning-git/img/Tenacious-D-debut.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.band::before {
  position: absolute;
  content: '';
  background: rgba(61, 61, 61, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
}

.band .menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 30px;
  color: #fff;
  z-index: 1;
}

.band .menu ul {
  list-style-type: none;
  padding: 0;
}

.band .menu ul li {
  padding: 10px 0;
}

.band .menu ul li a {
  font-family: "Shadows Into Light", cursive;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  text-shadow: 2px 2px #000;
}

.band .menu ul li a:hover {
  color: #ced6e0;
  text-shadow: 3px 3px #000;
}

.band .song-lyrics {
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  padding: 35px;
}

.band .song-lyrics p {
  color: #fff;
  text-shadow: 2px 2px #000;
}
