/* Variables */

$font-text: 'Kalam', cursive;
$font-menu: 'Shadows Into Light', cursive;
$font-header: 'Permanent Marker', cursive;
$color-one: #000;
$color-two: #ff0000;
$color-three: #ced6e0;
$color-dark: #3d3d3d;
$color-light: #fff;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 25px;
    line-height: 1.7;
    text-align: center;
    color: $color-dark;
    font-family: $font-text;
}

.container {
    max-width: 1840px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 10px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Splash */

.splash {
    background-image: url("/learning-git/img/diego-cieza-tenishius-d.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    h1 {
        margin: 0;
        font-family: $font-header;
        background: linear-gradient(to right, $color-one, $color-two, $color-one);
        background-size: 200% 200%;
        animation: rainbow 2s ease-in-out infinite;
        background-clip: text;
        -webkit-background-clip:text;
        transition: color .2s ease-in-out;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        color: $color-light;
        text-transform: uppercase;
        &:hover {
            color:rgba(0,0,0,0);
        }
        @keyframes rainbow { 
            0%{background-position:left}
            50%{background-position:right}
            100%{background-position:left}
          }
    }
}

/* Band */

.band {
    padding: 0;
    background-image: url('/learning-git/img/Tenacious-D-debut.jpg'); 
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background: rgba($color-dark, 0.7);
        width: 100%;
        height: 100%;
        left: 0;
    }
    .menu {
        flex: 0 0 20%;
        padding: 30px;
        color: $color-light;
        z-index: 1;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                padding: 10px 0;
                a {
                    font-family: $font-menu;
                    color: $color-light;
                    text-decoration: none;
                    font-size: 40px;
                    text-shadow: 2px 2px $color-one;
                    &:hover {
                        color: $color-three;
                        text-shadow: 3px 3px $color-one;
                    }
                }
            }
        }
    }
    .song-lyrics {
        z-index: 1;
        flex: 0 0 80%;
        padding: 35px;
        p {
            color: $color-light;
            text-shadow: 2px 2px $color-one;
        }
    }
}