// Variables
$color-first: #636e72;
$color-second: #dfe6e9;
$color-third: #35353B;
$color-light: #fff;
$font-header: 'Signika', sans-serif;
$font-text: 'Inconsolata', monospace;
$font-span: 'Montserrat', sans-serif;