// Variables
$color-first: #636e72;
$color-second: #b2bec3;
$color-third: #35353B;
$color-light: #fff;
$font-header: 'Signika', sans-serif;
$font-text: 'Inconsolata', monospace;
$font-span: 'Montserrat', sans-serif;

// Global

body {
    margin: 0px;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    font-family: $font-text;
    background-color: $color-first;
}

section {
    padding: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: $color-second;
    padding: 20px;
}

// Header

.splash {
    background-color: $color-second;
    text-align: center;
    padding: 5px;
    h1 {
        font-family: $font-header;
        font-size: 60px;
        font-style: italic;
    }
    h2 {
        font-family: $font-header;
    }
}

// Text song

.text-song {
    p span {
        font-family: $font-span;
    }
}